.header-container {
    position: absolute;
    top: 75px;
    left: 75px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 24px;
    font-weight: 580;

    &:hover {
        cursor: default;
    }

    img {
        width: 70px;
        height: auto;
    }
}

section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptionContainer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    box-sizing: border-box;
    height:100%;
}

mat-card {
    background-color: white;
    border-radius: 20px;
    // width:606px;
    height: 740px;
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-card-title {
    color: rgb(68, 77, 242);
    font-weight: 700;
    font-size: 46px;
}

mat-card-title-group {
    width: 100%;
    box-sizing: border-box;
    padding: 0 60px;
}

mat-card-content {
    width: 75%;
}

.loginInputsContainer {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
    position: relative;
    height:100%;

    .headline {
        img {
            position: absolute;
            left: 40px;
            width: 24px;
            height: auto;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .link {
        color: #797EF3;
        padding: 8px 10px;

        &:hover {
            cursor: pointer;
            font-weight: 580;
            background-color: rgb(241, 241, 241);
            border: 1px solid rgb(241, 241, 241);
            border-radius: 30px;
            padding: 7px 10px;
        }
    }

    .buttonContainer{
        position:absolute;
        bottom:0;
    }
}

.errorContainer {
    height: 40px;
    display: flex;
    align-items: center;
    color: red;
}

.inputField {
    border-radius: 30px;
    border: 1px solid transparent;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 238, 254);
    gap: 20px;

    &:hover {
        border: 1px solid gray;
        cursor: pointer;
    }

    input {
        width: 70%;
        height: 80%;
        font-size: 20px;
        background-color: rgb(236, 238, 254);
        border: 0;

        &:hover {
            cursor: pointer;
        }

        &:focus-visible {
            outline: unset;
        }
    }
}

.buttonContainer {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.button {
    border-radius: 20px;
    padding: 8px;
    width: 107px;
    height: 49px;
    border: 1px solid;
    color: white;
    background-color: rgb(68, 77, 242);
    border-color: rgb(121, 126, 243);
    font-size: 18px;
    font-weight: 700;
}

.loginButton {
    background-color: #686868;
    color: white;
    border-color: rgb(121, 126, 243);
}

.checkPrivacyPolicyContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: -30px;

    input {
        margin-right: 20px;

        &:hover {
            cursor: pointer;
        }
    }

    a {
        margin: 0 5px;
        color: rgba(121, 126, 243, 0.8);
        display: inline;

        &:hover {
            cursor: pointer;
        }
    }
}

.checkPrivacyPolicyContainerUpperContainer {
    display: flex;
}

.checkPrivacyPolicyText {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.btnActiv {
    background-color: #444DF2;
    font-weight: 700;
    cursor: pointer;
}

@media(max-width:690px) {
    .descriptionContainer {
        width: calc(100vw - 20px);
    }

    .header-container {
        left: 50%;
        transform: translate(-50%);
    }
}

@media(max-width:500px) {
    .loginInputsContainer {
        .headline {
            mat-card-title {
                font-size: 40px;
            }

            img {
                left: 20px;
            }
        }
    }
}

@media(max-width:470px) {
    .inputField {
        input {
            font-size: 15px;
        }
    }
}

@media(max-width:450px) {
    .descriptionContainer {
        // gap: 32px;
        height:100%;
    }
}

@media(max-width:408px) {
    .checkPrivacyPolicyContainer {
        a {
            margin: 0 5px 0 0;
        }
    }

    .loginInputsContainer {
        .headline {
            mat-card-title {
                font-size: 34px;
            }

            img {
                left: 10px;
            }
        }
    }
}

@media(max-width:390px) {
    mat-card-title-group {
        padding: 0 30px;
    }
}

@media(max-width:360px) {
    mat-card-title {
        font-size: 40px;
    }
}

@media(max-width:350px) {
    .inputField {
        input {
            font-size: 12px;
        }
    }

    .loginInputsContainer {
        .headline {
            mat-card-title {
                font-size: 28px;
            }
        }
    }
}

@media(max-height:1020px) {
    mat-card {
        transform: scale(0.9);
    }
}

@media(max-height:960px) {
    mat-card {
        transform: scale(0.8);
    }
}

@media(max-height:880px) {
    mat-card {
        position: absolute;
        top: 20px;
    }

    .header-container {
        top: 10px;
    }
}

@media(max-height:695px) {
    mat-card {
        // transform: scale(0.6);
        // top: -40px;
        height:100%;
    }

    .loginInputsContainer{
        gap:20px;
    }
}