<div class="header-container">
    <img src="./assets/img/01_onboarding-login-signup/Logo.png" class="logo">
    <div class="name">
        DaBubble
    </div>
</div>

<section>
    <mat-card>
        <mat-card-title>Konto erstellen</mat-card-title>
        <mat-card-title-group>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
            DaBubble-Konto.</mat-card-title-group>
        <mat-card-content>Simple card</mat-card-content>
    </mat-card>
</section>
<app-footer></app-footer>