<section>
  <div class="ch-creation">
    <span>current channel to be edited</span>
    <img class="cursor-effect" src="assets/img/icons/close.svg" alt="" />
  </div>
  <div class="title-container">
    <span>channel-Name</span>
    <button>speichern</button>
  </div>
  <div class="ch-info-input">
    <input type="text" placeholder="z.B. Kooperationsprojekte" />
    <img src="assets/img/icons/hash_tag.svg" alt="" />
  </div>
  <div class="title-container"><span>beschreibung</span> <button>speichern</button></div>
  <input type="text" placeholder="Dein Text hier" />
  <div class="separator-line"></div>
  <div class="editor">
    <span>erstellt von</span>
    <span>editor's name</span>
  </div>
  <div class="btn-container">
    <button class="btn">channel verlassen</button>
  </div>
</section>
