@if(passwordChanged){
<section class="whiteScreen">
    <div class="userMessage">
        Anmelden
    </div>
</section>
}

<div class="header-container">
    <img src="./assets/img/01_onboarding-login-signup/Logo.png" class="logo">
    <div class="name">
        DaBubble
    </div>
</div>

<section>
    <mat-card>
        <mat-card-title>
            <img class="arrowBack" src="./assets/img/01_onboarding-login-signup/arrow_back.png" [routerLink]="['/']">
            <div class="title">
                Passwort zurücksetzen
            </div>
        </mat-card-title>
        <form class="form" (ngSubmit)="changePassword()" #data="ngForm">
            <mat-card-content>
                <div class="inputField">
                    <input name="password" type="password" [(ngModel)]="Password1" placeholder="Neues Passwort" required
                        (ngModelChange)="checkPasswords()">
                </div>

                <div class="inputField">
                    <input name="password2" type="password" [(ngModel)]="Password2"
                        placeholder="Neues Passwort bestätigen" required (ngModelChange)="checkPasswords()">
                </div>
                <div class="errorContainer">
                    @if(displayError){
                    <div class="errorText">
                        *Ihre Passwörter stimmen nicht überein.
                    </div>
                    }
                    @if(passwordNotLongEnough){
                    <div class="errorText">
                        *Das neue Passwort muss mindestens 6 Zeichen lang sein.
                    </div>
                    }
                </div>
            </mat-card-content>

            <div class="buttonContainer">
                <button class="button" [disabled]="emptyInputs" [ngClass]="{'btnActiv': !emptyInputs && !passwordNotLongEnough}">Passwort
                    ändern</button>
            </div>
        </form>
    </mat-card>
</section>

<app-footer></app-footer>