<div class="header-container">
    <img src="./assets/img/01_onboarding-login-signup/Logo.png" class="logo">
    <div class="name">
        DaBubble
    </div>
</div>

<section>
    <mat-card>
        <mat-card-title>
            <img class="arrowBack" src="./assets/img/01_onboarding-login-signup/arrow_back.png" [routerLink]="['/']">
            <div class="title">
                Passwort zurücksetzen
            </div>
        </mat-card-title>
        <form class="form">
            <mat-card-content>
                <div class="inputField">
                    <input name="password" type="password" placeholder="Neues Passwort">
                </div>

                <div class="inputField">
                    <input name="password" type="password" placeholder="Neues Passwort bestätigen">
                </div>
            </mat-card-content>


            <div class="buttonContainer">
                <button class="button">Passwort ändern</button>
            </div>
        </form>
    </mat-card>
</section>

<app-footer></app-footer>