.introContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgb(50, 60, 230), rgb(121, 126, 243));
    animation-name: intro;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;

    z-index: 900;
}

@keyframes intro {
    0% {
        z-index: 900;
        opacity: 1;
    }

    10% {
        opacity: 0.9;
    }

    20% {
        opacity: 0.8;
    }

    30% {
        opacity: 0.7;
    }

    40% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.5;
    }

    60% {
        opacity: 0.4;
    }

    70% {
        opacity: 0.3;
    }

    80% {
        opacity: 0.2;
    }

    90% {
        opacity: 0.1;
    }

    100% {
        z-index: 0;
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes logoContainerMovement {
    0% {
        top: 50%;
        transform:translate-y(-50%);
        // left: 50%;
    }

    100% {
        top: 75px;
        left: 275px;
    }
}

.loginLogo {
    //Ausgangsposition - mittig - Schritt 1
    z-index: 997;
    display: flex;
    align-items: center;
    gap: 60px;
    position: absolute;
    top: 50%;
    left: 55%;
    width: 400px;
    height: 100px;
    transform: translate(-50%);
    animation: logoContainerMovement 2s ease-in-out 3s forwards;

    img {
        z-index: 998;
        height: 70px;
        width: auto;
        animation: logoMovement 1s ease-in-out forwards;
    }

    .name {
        z-index: 998;
        color: white;
        font-weight: 700;
        font-size: 24px;
        transform: scale(1.5);
        width: 50%;
        height: 30px;
        position: relative;
        overflow: hidden;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        animation: textcolor 2s ease-in-out 3s forwards;

        .text {
            position: absolute;
            left: -50px;
            white-space: nowrap;
            /* Verhindert Zeilenumbruch */
            position: relative;
            left: -100%;
            /* Startpunkt: außerhalb des Containers */
            animation: slide-in 2s ease-in-out 0.3s forwards;
        }
    }
}

@keyframes textcolor {
    0% {
        color: white;
    }

    100% {
        color: black;
    }
}

@keyframes slide-in {

    // Animation Schritt 1
    0% {
        left: -100%;
        /* Text startet außerhalb des Containers */
    }

    100% {
        left: -15%;
        /* Text ist vollständig im Container sichtbar */
    }
}

@keyframes logoMovement {

    // Animation Schritt 2
    0% {
        transform: scale(2);
    }

    100% {
        top: 50%;
        left: 50%;
        transform: scale(1.2);
    }
}

.loginHeader {
    padding-top: 75px;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 20px;
    // max-width: 1920px;
}

.loginHeaderRegister {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 75px;
    z-index:899;

    .link {
        text-decoration: none;
        color: #797EF3;
        margin: 9px 0;

        &:hover {
            margin: 0;
            padding: 8px;
            cursor: pointer;
            font-weight: 580;
            border: 1px solid #999ce5;
            border-radius: 20px;
        }
    }
}

@media(min-height:1200px){
    header {
        font-size:30px;
    }
}

@media(max-width:610px) {

    .loginHeader {
        padding-top: 20px;
    }

    @keyframes logomovement-small {
        0% {
            top: 50%;
            left: 0%;
        }

        100% {
            top: 20px;
            left: 0%;
        }
    }

    .name {
        overflow: unset;
    }

    .text {
        font-size: 20px;
        margin-left: -20px;
    }

    .loginLogo {
        animation-name: logomovement-small;
        width: 100%;
        left: 0%;
        gap: 40px;
        height: 50px;
        justify-content: center;
        transform: none;

        .name {
            transform: scale(1.2);
            font-size: 20px;
            margin-left: -25px;

            .text {
                margin-left: 5px;
            }
        }

        img {
            height: 50px;
        }
    }

    .loginHeaderRegister {
        position: absolute;

        top: 850px;
        right: 0;
        left: 0;
        margin-right: 0;
        margin-top: 50px;
        font-size: 24px;

        .link {
            color: #797EF3;
            margin: 0;
            padding: 8px;
            cursor: pointer;
            font-weight: 580;
            border: 1px solid #999ce5;
            border-radius: 20px;

            &:hover {
                color: white;
                background-color: #999ce5;
            }
        }
    }
}

// @media(max-height: 965px) {
//     .loginHeader {
//         padding-top: 10px;
//     }

//     .loginLogo {
//         animation: logoMovementHeight965px 2s ease-in-out 3s forwards;
//     }

//     @keyframes logoMovementHeight965px {
//         0% {
//             transform: scale(1.1);
//             left: 50%;
//             transform: translate(-50%);
//         }

//         100% {
//             top: 10px;
//             left: 50px;
//             transform: scale(1.0);
//         }
//     }
// }

// @media(max-height:950px) and (max-width:610px) {
//     .loginHeaderRegister {
//         position: absolute;
//         top: 700px;
//     }
// }

// @media(min-height:933px) and (max-width:610px) and (max-height:1004px) {
//     .loginHeader {
//         padding-top: 5px;
//     }

//     .loginHeaderRegister {
//         position: absolute;
//         // top: 680px;
//         bottom:10px;
//     }
// }

// @media(max-height:930px) and (max-width:610px) {

    
//     .loginHeader {
//         padding-top: 5px;
//     }

//     .loginHeaderRegister {
//         position: absolute;
//         top: 620px;
//     }
// }

// @media(max-height:830px) and (min-width:610px) {

//     @keyframes logomovement-middle {
//         0% {
//             top: 50%;
//         }

//         100% {
//             top: 10px;
//             left: 20%;
//         }
//     }

//     .loginLogo {
//         animation-name: logomovement-middle;
//         gap: 50px;
//         justify-content: center;
//     }

//     .loginHeader {
//         padding-top: 5px;
//     }
// }

// @media(max-height:717px) and (max-width:610px) {
//     .loginHeaderRegister {
//         transform: scale(0.8);
//         top: 600px;
//     }
// }

// @media(max-height:1005px) and (max-width:610px) {
//     .loginHeaderRegister {
//         margin-top: 100px;

//     }

//     .loginLogo {
//         width: 90%;
//     }
// }

@media(max-width:610px) and (min-height:900px){
    .loginHeaderRegister{
        bottom:10px;
        top:auto;
    }
}

@media(max-width:610px) and (max-height:800px){
    .loginHeaderRegister{
        transform:scale(0.8);
    }
}

@media(max-width:610px) and (min-height:600px){
    .loginHeaderRegister{
        bottom:10px;
        top:auto;
    }
}

