<section>
    <div class="introContainer">
    </div>
    <div class="loginLogo">
        <img src="./assets/img/01_onboarding-login-signup/Logo.png" class="logo">
        <div class="name">
            <div class="text">
                DABubble
            </div>
        </div>
    </div>
    <header class="loginHeader">
        <div class="loginHeaderRegister">
            <div>
                Neu bei DABubble?
            </div>
            <a class="link" [routerLink]="['/signIn']">
                Konto erstellen
            </a>
        </div>
    </header>
</section>