<section>
    <div class="introContainer" id="intro">
    </div>
    <div class="loginLogo" id="intro2">
        <img src="./assets/img/01_onboarding-login-signup/Logo.png" class="logo" id="introElem1">
        <div class="name" id="introElem2">
            <div class="text">
                DABubble
            </div>
        </div>
    </div>
    <header class="loginHeader">
        <div class="loginHeaderRegister">
            <div>
                Neu bei DABubble?
            </div>
            <a class="link" [routerLink]="['/signIn']">
                Konto erstellen
            </a>
        </div>
    </header>
</section>