mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  //   width: 366px;
  max-width: 450px;
  background-color: #ffffff;
  border-radius: 30px;
  height: 100%;
  box-sizing: border-box;
}

.card {
  border-radius: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.message-divider {
  display: flex;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 20px;

  .devider {
    width: 100%;
    height: 1px;
    background-color: #adb0d9;
  }

  span {
    padding: 5px 15px;
    white-space: nowrap;
    font-weight: 400;
    color: #adb0d9;
  }
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 10px 0px #00000014;
  padding: 32px 40px;
  border-radius: 30px 30px 0 0;

  mat-card-title {
    font-family: 'Nunito';
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.74px;
    transition: all 125ms ease;
    cursor: pointer;

    span {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 14px;
      font-weight: 400;
      color: #797ef3;
    }

    mat-icon {
      width: 12px;
      height: 12px;
      font-size: 12px;
    }
  }

  .close {
    font-size: 24px;
    border-radius: 20px;
    padding: 4px;
    transition: 100ms ease-in-out;

    &:hover {
      background-color: #eceefe;
      color: #535af1;
    }
  }
}

mat-card-content {
  overflow: auto;
  max-height: 500px;
  height: 100%;
}

.message-box {
  margin-bottom: 40px;
}

.showRightWrapper {
  display: none;
}

@media (width<1300px) {
  .container {
    max-width: 355px;
  }
}
@media (width<950px) {
  .container {
    max-width: unset;
  }
}

@media screen and (width<=630px) {
  mat-card-header {
    border-radius: 0;
  }
  .container {
    max-width: unset;
  }

  .card {
    border-radius: unset !important;
  }

  .mat-mdc-card-content {
    padding: 1rem !important;
  }

  mat-card-header {
    padding-inline: 24px !important;
  }
}
