<h2>
    Mitglieder
    <mat-icon (click)="closeDialog()" class="close">close</mat-icon>
</h2>
<mat-dialog-content>
    <div class="member">
        <div class="member-status">
            <img src="../../../assets/img/00_general-buttons/characters/Elias_Neumann.png">
            <div class="status"></div>
        </div>
        <span>Federik Beck (Du)</span>
    </div>
    <div class="member">
        <div class="member-status">
            <img src="../../../assets/img/00_general-buttons/characters/Sofia_Müller.png">
            <div class="status"></div>
        </div>
        <span>Sofia Müller</span>
    </div>
    <div class="member">
        <div class="member-status">
            <img src="../../../assets/img/00_general-buttons/characters/Noah_Braun.png">
            <div class="status"></div>
        </div>
        <span>Noah Braun</span>
    </div>

    <div class="member add-member">
        <mat-icon>person_add</mat-icon>
        <span>Mitglieder hinzufügen</span>
    </div>
</mat-dialog-content>
