<div class="container">
  <ng-container *ngIf="fileURL; else messageInput">
    <div class="upload">Datei: 
      <a [href]="fileURL" target="_blank">{{ fileName }}</a>
    </div>
    <!-- Fortschrittsanzeige -->
    
  </ng-container>
  <mat-progress-bar *ngIf="isUploading" mode="indeterminate" [value]="uploadProgress"></mat-progress-bar>

  <ng-template #messageInput>
    <textarea 
      placeholder="Nachricht an #{{ channelName }}" 
      [(ngModel)]="messageContent"
      name="" id="" cols="30" rows="3">
    </textarea>
  </ng-template>

  <div class="bottom">
    <div>
      <input type="file" id="fileUpload" (change)="onFileSelected($event)" hidden>
      <label for="fileUpload">
        <mat-icon>add</mat-icon>
      </label>
      <span></span>
      <mat-icon>sentiment_satisfied</mat-icon>
      <mat-icon>alternate_email</mat-icon>
    </div>
    <mat-icon (click)="sendMessage()">send</mat-icon>
  </div>
</div>