.container {
    border: 1px solid #ADB0D9;
    border-radius: 20px;
    padding: 20px;
    margin-left: 35px;
    margin-right: 35px;

    .upload {
        width: fit-content;
        padding: 10px 20px;
        margin-bottom: 16px;
        color: black;
        background-color: #ECEEFE;
        border-radius: 20px;
        font-size: 18px;

        a {
            text-decoration: none;
            color: black;

            &:hover {
                color: #535AF1;
            }
        }
    }

    mat-icon {
        cursor: pointer;
    }

    .delete-btn {
        width: 20px;
        height: 20px;
        font-size: 20px;
        padding: 10px;
        border-radius: 20px;
        transition: ease-in 80ms;

        &:hover {
            background-color: #eceefe;
            color: #535af1;
        }
    }

    textarea {
        border: none;
        width: 100%;
        outline: none;
        font-size: 18px;
        resize: none;

        &::placeholder {
            font-size: 18px;
        }
    }

    .bottom {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        color: #686868;
        position: relative;

        .btn-unset {
            all: unset;

            &:disabled {
                cursor: not-allowed;
            }
        }

        app-emoji-picker {
            bottom: 123px;
            right: auto;
            left: 75%;
            transform: none;
        }

        mat-icon {
            color: #444DF2;

            &:hover {
                color: #797EF3;
            }
        }

        div {
            display: flex;
            align-items: center;
            gap: 10px;
            overflow-y: auto;
            scrollbar-width: none;

            span {
                width: 1px;
                height: 40px;
                background-color: #ADB0D9;
            }

            mat-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 8px;
                border-radius: 20px;
                color: #686868;

                &:hover {
                    color: #535AF1;
                    background-color: #ECEEFE;
                }
            }

            &:hover mat-icon {
                color: black;
            }

            mat-icon:hover {
                color: #535AF1;
            }
        }

        .link-someone {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            max-height: 250px;
            overflow-y: auto;
            padding: 5px 15px;
            border-radius: 30px 30px 30px 0;
            cursor: pointer;
            position: absolute;
            bottom: 40px;
            left: 130px;
            font-size: 16px;
            border: 1px solid #adb0d9;
            background-color: white;

            .fl-d {
                flex-direction: column;
                align-items: baseline;
            }

            .not-found {
                width: auto;
                height: auto;
                background-color: unset;
            }

            .user {
                display: flex;
                align-items: center;
                padding: 4px 20px;
                border-radius: 30px;

                &:hover {
                    background-color: #ECEEFE;
                }

                span {
                    width: auto;
                    background-color: transparent;
                    height: auto;
                }
            }

            img {
                width: 40px;
                height: 40px;
                border-radius: 30px;
            }
        }
    }
}

.not-member-message {
    padding: 20px;
    margin-left: 35px;
    color: red;
}

// ----------------------------- MEDIA -----------------------------

@media(max-width: 610px) {
    .container {
        margin: 0 16px;

        .bottom {
            app-emoji-picker {
                left: 115%;
            }

            .link-someone {
                padding: 5px 5px;
                left: 114px;
            }
        }
    }
}