<div *ngIf="message">

    
    <div class="message-container">
      <div class="img-container">
        <img [src]="message.avatar" [alt]="message.name">
      </div>
      <div class="message">
        <div class="name-time">
          <span class="name">{{ message.name }}</span>
          <span class="time">{{ formatTime(message.time) }}</span>
        </div>
        <span class="text">{{ message.content }}</span>
        <div class="answer">
          <span>2 Antworten</span>
          <span class="time">Letzte Antwort 14:56</span>
        </div>
      </div>
  
      <div class="reaction-bar">
        <mat-icon><img src="../../../assets/img/04_chats-message/emoji_white_heavy_check_mark_.png"></mat-icon>
        <mat-icon><img src="../../../assets/img/04_chats-message/emoji_person_raising_both_hands_in_celebration_.png"></mat-icon>
        <mat-icon>add_reaction</mat-icon>
        <mat-icon>comment</mat-icon>
      </div>
    </div>
  </div>
  