div {
  width: 366px;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 1.5rem;
  height: 100%;
  box-sizing: border-box;
}

@media (width<700px) {
  div {
    width: 280px;
  }
}
@media (width<630px) {
  // :host {
  //   display: none;
  // }
  div {
    width: 100%;
    padding: unset;
  }
}
