div {
  //   width: 366px;
  width: 305px;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 1.5rem;
  height: 100%;
  box-sizing: border-box;
}

@media (width<500px) {
  div {
    width: unset;
    padding: unset;
  }
}