<section class="main-section">
  <app-nav-bar />
  <main>
    <button class="toggle-side-menu" (click)="handleToggle()">
      <span>
        Workspace-Menü <span class="left-pad">{{ this.state_text }}</span>
      </span>
      <img class="cursor-effect" src="{{ state_icon }}" alt="" />
    </button>
    <app-left-side-menu *ngIf="hide_navigation == false" class="toggle-display" [class.OpenWrapper]="openWrapper === true" />
    <app-messages
      *ngIf="isChannelView === false"
      class="app-middle-wrapper"
      [class.OpenWrapper]="openWrapper === false"
      [ngStyle]="{ display: dev_message_search === true ? 'none' : '' }"
    />
    <app-chatarea *ngIf="isChannelView === true" class="app-middle-wrapper" [ngStyle]="{ display: dev_message_search === true ? 'none' : '' }" />
    <app-dev-space-area *ngIf="dev_message_search === true" class="app-middle-wrapper" />
    <app-right-wrapper class="app-right-wrapper" *ngIf="isThreadVisible" />
  </main>
  @if(state){
  <form (submit)="onAddUser()" autocomplete="off">
    <div class="ch-creation">
      <span>channel erstellen</span>
      <button class="closeDial" (click)="onCloseDialog()">
        <img class="cursor-effect" src="assets/img/icons/close.svg" alt="" />
      </button>
    </div>
    <p>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein <span class="bold-ex">#marketing</span> zum Beispiel.</p>
    <div class="title-container">
      <span>channel-Name</span>
    </div>
    <div class="ch-info-input">
      <input [(ngModel)]="channel_name" class="input" name="channel_name" type="text" placeholder="z.B. Kooperationsprojekte" />
      <img src="assets/img/icons/hash_tag.svg" alt="" />
    </div>
    <div class="title-container"><span>beschreibung</span><span class="optional"> (optional)</span></div>
    <div class="ch-info-input">
      <input [(ngModel)]="channel_description" class="input" name="description" type="text" placeholder="Dein Text hier" />
    </div>
    <div class="btn-container">
      <button id="btn-create" type="submit" class="btn">Erstellen</button>
    </div>
  </form>
  <div class="overlay"></div>
  } @if(open_dialog_add_user){
  <section class="section-user">
    <div class="ch-creation-user">
      <span>leute hinzufügen</span>
      <button class="closeDial" (click)="onCancelAddUser()">
        <img class="cursor-effect" src="assets/img/icons/close.svg" alt="" />
      </button>
    </div>
    <div class="ch-info-input-user">
      <input class="input-user" type="radio" name="toggleOptions" [(ngModel)]="isChecked" value="officeTeam" />
      <span>Alle Mitglieder von <a href="#">OfficeTeam</a> hinzufügen</span>
    </div>
    <div class="ch-info-input-user">
      <input class="input-user" name="toggleOptions" type="radio" [(ngModel)]="isChecked" value="singleUser" />
      <span>Bestimmte Leute hinzufügen</span>
    </div>
    <div class="search-section">
      <input [(ngModel)]="new_person_name" (input)="onSearchUser()" class="add-person" *ngIf="isChecked === 'singleUser'" type="text" placeholder="Name eingeben" />
      <app-search-user *ngIf="showSearchUserName === true" class="app-search-user" [componentType]="'user-list'" />
    </div>

    <div class="btn-container-user">
      <button class="btn" (click)="onCreateChannel()">Erstellen</button>
    </div>
  </section>

  <div class="overlay"></div>
  } @if (open_logout) {
  <app-logout />
  <div (click)="onCloseLogout()" class="overlay"></div>
  } @if (open_show_profil) {
  <app-show-profil />
  <div (click)="onCloseShowProfil()" class="overlay"></div>
  } @if (open_show_profile_nav) {
  <app-show-profil [isNavBar]="true" />
  <div (click)="onOpenNavProfile()" class="overlay"></div>
  } @if (open_update_profil) {
  <app-update-profil />
  <div (click)="onCloseUpdateProfil()" class="overlay"></div>
  } @if(open_edit_channel){
  <app-edit-channel />
  <div (click)="onCloseEditChannel()" class="overlay"></div>
  }
</section>
