.main-section {
  display: flex;
  flex-direction: column;
  height: 100vh;

  > main {
    display: flex;
    flex-grow: 1;
    gap: 1rem;
    padding-inline: 1rem;
    position: relative;
    height: calc(100vh - 111.63px);
    padding-bottom: 1rem;

    > .app-middle-wrapper {
      flex-grow: 1;
    }

    > .toggle-side-menu {
      font-family: 'Nunito';
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      transform: rotate(-90deg);
      background-color: white;
      padding: 1rem 1rem 0.5rem 1rem;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      transform-origin: top left;
      top: 90%;
      left: -1rem;
      z-index: 2;
      box-shadow: 0px 4px 7px 0 rgba(0, 0, 0, 0.2);
      gap: 0.5rem;
      font-weight: 700;
      font-size: 16px;
      width: 282px;
      border: transparent;
      transition: all 250ms ease-in-out;

      > span {
        transition: all 250ms ease-in-out;
      }

      > img {
        transition: all 250ms ease-in-out;
        transform: rotate(90deg);
      }

      &:hover {
        > span {
          color: #535af1;
        }

        > img {
          filter: invert(33%) sepia(100%) saturate(2937%) hue-rotate(228deg) brightness(96%) contrast(96%);
        }
      }
    }
  }
}

.showLogout {
  display: none;
}

.left-pad {
  padding-left: 3px;
}

.hide-navigation {
  transform: translateX(-291px);
}

.show-navigation {
  transform: translateX(291px);
}

.overlay {
  position: absolute;
  z-index: 2;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.15);
}

// /// NEW CHANNEL CSS
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  max-width: 700px;
  width: 90vw;
  border-radius: 30px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;

  > .ch-creation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > span {
      font-weight: 700;
      font-size: 18px;
    }

    > span::first-letter {
      text-transform: capitalize;
    }
  }
}

.ch-info-input {
  position: relative;
  display: flex;
  align-items: center;

  > img {
    position: absolute;
    left: 0.75rem;
    width: 18px;
    height: 18px;
  }
  > span {
    position: absolute;
    color: #e61c40;
    bottom: -1.2rem;
  }
}

.input {
  height: 50px;
  width: 100%;
  border-radius: 60px;
  border: 1px solid #adb0d9;
  outline: none;
  font-family: 'Nunito';
  font-size: 16px;
}

.input:first-child {
  padding-left: 2rem;
}

.input::placeholder {
  font-family: 'Nunito';
  font-size: 16px;
}

.btn-container {
  align-self: end;

  > .btn {
    font-family: 'Nunito';
    padding: 0.75rem 1rem;
    background-color: #444df2;
    color: white;
    border-radius: 25px;
    border: transparent;
  }
}

.closeDial {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  &:hover {
    background-color: #eceefe;
  }
}

.title-container {
  > span:first-child {
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
  }

  > .optional {
    color: gray;
  }
}

// /// ADD USER TO CHANNEL CSS
.section-user {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  max-width: 600px;
  width: 90vw;
  border-radius: 30px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;

  > .input-user {
    padding-left: 1rem;
  }

  > .ch-creation-user {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > span {
      font-weight: 700;
      font-size: 18px;
    }

    > span::first-letter {
      text-transform: capitalize;
    }
  }
}

.ch-info-input-user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input-user {
  width: 32px;
  border: 1px solid #adb0d9;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

.btn-container-user {
  align-self: end;

  > .btn {
    padding: 0.75rem 1rem;
    background-color: #444df2;
    color: white;
    border-radius: 25px;
    border: transparent;
    font-family: 'Nunito';
  }
}

a {
  text-decoration: none;
  color: #535af1;
}

.add-person {
  height: 40px;
  width: 100%;
  border-radius: 60px;
  border: 1px solid #adb0d9;
  outline: none;
  font-family: 'Nunito';
  font-size: 16px;
  padding-left: 1rem;

  &::placeholder {
    font-family: 'Nunito';
    font-size: 16px;
  }
}

.search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  > .list-chosen-user {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    > li {
      height: 39px;
      background: #eceefe;
      border-radius: 30px;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding-inline: 0.75rem;
      padding-inline: 0.25rem 0.5rem;
      list-style-type: none;
      > .user-avatar {
        width: 26px;
        height: 26px;
        border-radius: 50%;
      }
      > span {
        font-size: 12px;
      }
      > button {
        background-color: transparent;
        border: transparent;
        width: 26px;
        height: 26px;
        > img {
          width: 26px;
          height: 26px;
        }
      }
    }
  }

  > input {
    width: 100%;
  }

  > .app-search-user {
    position: absolute;
    transform: translateY(145px);
  }
}

.bold-ex {
  font-weight: 700;
}

@media screen and (width<1260px) {
  .hideWrapper {
    display: none;
  }
}

// @media screen and (width<950px) {
//   .OpenWrapperChat {
//     display: none;
//   }
//   .app-right-wrapper {
//     width: 100% !important;
//   }
// }
@media screen and (width<880px) {
  .hideWrapperWrap2 {
    display: none;
  }
}

@media (min-width: 630px) and (max-width: 1000px) {
  .MiddleHide {
    display: none;
  }
}
@media (width<950px) {
  .closeMessages {
    display: none;
  }
  .app-right-wrapper {
    width: 100% !important;
  }
}

@media (width<630px) {
  /////////////////////////////////////
  .OpenWrapperChat {
    display: none;
  }
  // .app-right-wrapper {
  //   width: 100% !important;
  // }

  ///////////////////////////
  .OpenWrapper {
    display: none;
  }

  .showLogout {
    display: block !important;
  }

  .main-section {
    > main {
      width: unset;
      background-color: white;
      gap: unset;

      > .toggle-side-menu {
        display: none;
      }
    }
  }

  .openRight {
    width: 100%;
  }

  .main-section {
    > main {
      padding-inline: 0;
      padding-bottom: 0;
    }
  }

  form {
    width: 80vw;
  }

  .toggle-display {
    width: 100%;
  }
}
