<section class="main-section">
  <app-nav-bar />
  <main>
    <button class="toggle-side-menu" (click)="handleToggle(); handleDialogMobile('wrapper_1')">
      <span>
        Workspace-Menü <span class="left-pad">{{ this.state_text }}</span>
      </span>
      <img class="cursor-effect" src="{{ state_icon }}" alt="" />
    </button>
    <app-left-side-menu
      *ngIf="hide_navigation == false"
      class="toggle-display"
      [class.hideWrapper]="openWrapper === 'wrapper_3'"
      [class.hideWrapperWrap2]="openWrapper === 'wrapper_2'"
      [class.MiddleHide]="openWrapper === 'wrapper_1'"
      [class.OpenWrapper]="openWrapper === 'wrapper_2' || openWrapper === 'wrapper_3'"
    />
    <app-messages
      *ngIf="isChannelView === false"
      class="app-middle-wrapper"
      [class.OpenWrapper]="openWrapper === 'wrapper_1' || openWrapper === 'wrapper_3'"
      [ngStyle]="{ display: dev_message_search === true ? 'none' : '' }"
    />
    <app-chatarea
      [class.OpenWrapperChat]="openWrapper === 'wrapper_1' || openWrapper === 'wrapper_3'"
      *ngIf="isChannelView === true"
      [class.closeMessages]="openWrapper === 'wrapper_3'"
      class="app-middle-wrapper"
      [ngStyle]="{ display: dev_message_search === true ? 'none' : '' }"
      [close]="close"
    />

    <app-dev-space-area [class.OpenWrapper]="openWrapper === 'wrapper_1' || openWrapper === 'wrapper_3'" *ngIf="dev_message_search === true" class="app-middle-wrapper" />
    <app-right-wrapper [class.app-right-wrapper]="openWrapper === 'wrapper_3'" *ngIf="isThreadVisible" [class.openRight]="openWrapper === 'wrapper_3'" />
  </main>
  @if(state){
  <form (submit)="onAddUser()" autocomplete="off" #inputForm="ngForm">
    <div class="ch-creation">
      <span>channel erstellen</span>
      <button class="closeDial" (click)="onCloseDialog(); onResetForm()">
        <img class="cursor-effect" src="assets/img/icons/close.svg" alt="" />
      </button>
    </div>
    <p>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein <span class="bold-ex">#marketing</span> zum Beispiel.</p>
    <div class="title-container">
      <span>channel-Name</span>
    </div>
    <div class="ch-info-input">
      <input [(ngModel)]="channelName" class="input" name="channel_name" type="text" placeholder="z.B. Kooperationsprojekte" />
      <img src="assets/img/icons/hash_tag.svg" alt="" />
      @if (nameError) {
      <span>This channel name is already used, please enter a different name.</span>
      }@else if(syntaxError){
      <span>Der Name vom Channel kann nicht mit Leerzeichen starten oder leer sein!</span>
      }
    </div>
    <div class="title-container"><span>beschreibung</span><span class="optional"> (optional)</span></div>
    <div class="ch-info-input">
      <input [(ngModel)]="channel_description" class="input" name="description" type="text" placeholder="Dein Text hier" />
    </div>
    <div class="btn-container">
      <button id="btn-create" type="submit" class="btn">Erstellen</button>
    </div>
  </form>
  <div class="overlay"></div>
  } @if(open_dialog_add_user){
  <form class="section-user" autocomplete="off" (ngSubmit)="onCreateChannel()">
    <div class="ch-creation-user">
      <span>leute hinzufügen</span>
      <button type="button" class="closeDial" (click)="onCancelAddUser(); onResetForm()">
        <img class="cursor-effect" src="assets/img/icons/close.svg" alt="" />
      </button>
    </div>
    <div class="ch-info-input-user">
      <input class="input-user" type="radio" name="toggleOptions" [(ngModel)]="isChecked" value="officeTeam" />
      <span>Alle Mitglieder von <a href="#">OfficeTeam</a> hinzufügen</span>
    </div>
    <div class="ch-info-input-user">
      <input class="input-user" name="toggleOptions" type="radio" [(ngModel)]="isChecked" value="singleUser" />
      <span>Bestimmte Leute hinzufügen</span>
    </div>
    <div class="search-section">
      <input
        [(ngModel)]="new_person_name"
        name="add-person"
        (input)="onSearchUser()"
        class="add-person"
        *ngIf="isChecked === 'singleUser'"
        type="text"
        placeholder="Name eingeben"
      />
      <app-new-channel-search *ngIf="showSearchUser === true" class="app-search-user" />
      <ul class="list-chosen-user">
        <li *ngFor="let user of pickedArrayObj; let i = index">
          <img class="user-avatar" src="{{ user.avatar }}" alt="{{ user.name }}" />
          <span>{{ user.name }}</span>
          <button type="button" (click)="onRemoveUser(user.id)"><img src="assets/img/icons/close.svg" alt="" /></button>
        </li>
      </ul>
    </div>

    <div class="btn-container-user">
      <button type="submit" class="btn">Erstellen</button>
    </div>
  </form>

  <div class="overlay"></div>
  } @if (open_logout) {
  <app-logout />
  <div (click)="onCloseLogout()" class="overlay"></div>
  } @if (open_show_profil) {
  <app-show-profil />
  <div (click)="onCloseShowProfil()" class="overlay"></div>
  } @if (open_show_profile_nav) {
  <app-show-profil [isNavBar]="true" />
  <div (click)="onOpenNavProfile()" class="overlay"></div>
  } @if (open_update_profil) {
  <app-update-profil />
  <div (click)="onCloseUpdateProfil()" class="overlay"></div>
  } @if(open_edit_channel){
  <app-edit-channel />
  <div (click)="onCloseEditChannel()" class="overlay"></div>
  } @if(openLogoutMobile){
  <app-mobile-logout class="showLogout" />
  <div (click)="onCloseMobileLogout()" class="overlay showLogout"></div>
  }
</section>
