<section>
  <h1>Anmelden</h1>
  <form autocomplete="off">
    <div class="input-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" />
    </div>
    <div class="input-group">
      <label for="password">Passwort</label>
      <input type="password" id="password" name="password" />
    </div>
    <div class="btn-container">
      <button routerLink="/register" type="button" class="btn btn-white">Registrieren</button>
      <button type="submit" class="btn btn-info">Anmelden</button>
    </div>
  </form>
</section>
