<mat-card class="card">
    <mat-card-header>
        <mat-card-title (click)="openChannelDialog()" ><mat-icon>tag</mat-icon> {{ channelName }} <mat-icon>keyboard_arrow_down</mat-icon></mat-card-title>
        <div class="member-container">
             <div class="member" (click)="openMemberDialog()">
                 <div>
                    <img *ngFor="let member of members" class="member-img" [src]="member.avatar" [alt]="member.firstName + ' ' + member.lastName">
                 </div>
                 <span>{{ members.length }}</span>
             </div>
             <mat-icon class="add-member" (click)="openAddMemberDialog()">person_add</mat-icon>
        </div>
     </mat-card-header>
    <mat-card-content>
        <app-message></app-message>
        <app-own-message></app-own-message>     
    </mat-card-content>
    <app-message-box class="message-box"></app-message-box>
</mat-card>
