<div class="introContainer">

</div>

<section>
    <div class="loginLogo">
        <img src="./assets/img/01_onboarding-login-signup/Logo.png" class="logo"> 
        <div class="name">DABubble</div>
    </div>
    <header class="loginHeader">
        <div class="loginHeaderRegister">
            <div>
                Neu bei DABubble?
            </div>
            <div class="link">
                Konto erstellen
            </div>
        </div>
    </header>
    <main>
        <mat-card>
            <div class="info">
                <div class="title">
                    Anmeldung
                </div>
                <div class="description">
                    Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.
                </div>
            </div>
            <form>
                <div class="loginInputsContainer">
                    <div class="inputField">
                        <mat-icon>mail</mat-icon>
                        <input type="mail" placeholder="beispielname@email.com">
                    </div>
                    <div class="inputField">
                        <mat-icon>lock</mat-icon>
                        <input type="password" placeholder="Passwort">
                    </div>
                    <div class="link">
                        Passwort vergessen?
                    </div>
                </div>
                <div class="seperator">
                    <div class="underline"></div>
                     ODER 
                     <div class="underline"></div>
                </div>
                <div class="googleLogin">
                    <img src="./assets/img/01_onboarding-login-signup/Google.png">
                    Anmelden mit Google
                </div>
                <div class="buttonContainer">
                    <button class="button loginButton">Anmelden</button>
                    <button class="button guestLoginButton">Gäste-Login</button>
                </div>
            </form>
        </mat-card>
    </main>
    <footer>
        <div class="link">Impressum</div>
        <div class="link">Datenschutz</div>
    </footer>
</section>