.introContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgb(50, 60, 230), rgb(121, 126, 243));
    animation-name: intro;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes intro {
    0% {
        z-index: 900;
        opacity: 1;
    }

    10% {
        opacity: 0.9;
    }

    20% {
        opacity: 0.8;
    }

    30% {
        opacity: 0.7;
    }

    40% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.5;
    }

    60% {
        opacity: 0.4;
    }

    70% {
        opacity: 0.3;
    }

    80% {
        opacity: 0.2;
    }

    90% {
        opacity: 0.1;
    }

    100% {
        z-index: 0;
        opacity: 0;
        pointer-events: none;
    }
}

main {
    display: flex;
    justify-content: center;
}

// .logo {
//     position: absolute;
//     z-index: 901;
//     animation-name: logomovement;
//     animation-duration: 3s;
//     animation-fill-mode: forwards;
// }

@keyframes logomovement {
    0% {
        top: 50%;
        left: 50%;
    }

    100% {
        top: 75px;
        left: 75px;
    }
}

@keyframes namefadein {
    0% {
        opacity: 0;
        visibility:hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.loginLogo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 550;
    font-size: 30px;
    position: absolute;
    margin-left: 75px;
    z-index: 901;
    animation-name: logomovement;
    animation-duration: 3s;
    animation-fill-mode: forwards;

    .name {
        opacity: 0;
        visibility: hidden;
        animation-name: namefadein;
        animation-duration: 3s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
    }

    img {
        height: 70px;
        width: auto;
    }

    &:hover {
        cursor: default;
    }
}

.loginHeader {
    margin-top: 75px;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 20px;
    max-width: 1920px;

}

.loginHeaderRegister {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 75px;

    .link {
        color: #797EF3;
        margin: 9px 0;

        &:hover {
            margin: 0;
            padding: 8px;
            cursor: pointer;
            font-weight: 580;
            border: 1px solid #999ce5;
            border-radius: 20px;
        }
    }
}

footer {
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    .link {
        color: #797EF3;
        display: flex;
        align-items: center;
        margin: 0 9px;

        &:hover {
            margin: 0;
            padding: 8px;
            cursor: pointer;
            font-weight: 580;
            border: 1px solid #999ce5;
            border-radius: 20px;
        }
    }
}

mat-card {
    background-color: white;
    border-radius: 20px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .info {
        margin-top: 50px;
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 133px;

        .title {
            color: rgb(68, 77, 242);
            font-weight: 700;
            font-size: 46px;
            margin-bottom: 30px;
        }

        .description {
            font-weight: 400;
            font-size: 16px;
        }
    }
}

.loginInputsContainer {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;

    .link {
        color: #797EF3;
        padding: 8px 10px;

        &:hover {
            cursor: pointer;
            font-weight: 580;
            background-color: rgb(241, 241, 241);
            border: 1px solid rgb(241, 241, 241);
            border-radius: 30px;
            padding: 7px 10px;
        }

    }
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seperator {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin-bottom: 40px;
}

.underline {
    border-bottom: 1px solid black;
    width: 100%;
}

.inputField {
    border-radius: 30px;
    border: 1px solid transparent;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 238, 254);
    gap: 20px;

    &:hover {
        border: 1px solid gray;
        cursor: pointer;
    }

    input {
        width: 80%;
        height: 80%;
        font-size: 20px;
        background-color: rgb(236, 238, 254);
        border: 0;

        &:hover {
            cursor: pointer;
        }

        &:focus-visible {
            outline: unset;
        }
    }
}

.googleLogin {
    border-radius: 30px;
    width: 100%;
    height: 60px;
    background-color: rgb(236, 238, 254);
    display: flex;
    border: 1px solid transparent;
    justify-content: center;
    align-items: center;
    color: #797EF3;
    margin-bottom: 40px;
    gap: 10px;

    img {
        width: 38px;
        height: auto;
    }

    &:hover {
        cursor: pointer;
        font-weight: 580;
        border: 1px solid blue;
    }
}

.buttonContainer {
    display: flex;
    gap: 20px;
}

.button {
    border-radius: 20px;
    padding: 8px;
    width: 150px;
    border: 1px solid;

    &:hover {
        cursor: pointer;
    }
}

.loginButton {
    color: white;
    background-color: rgb(68, 77, 242);
    border-color: rgb(121, 126, 243);

    &:hover {
        background-color: rgba(121, 126, 243, 0.8);
    }
}

.guestLoginButton {
    background-color: white;
    color: rgb(121, 126, 243);
    border-color: rgb(121, 126, 243);

    &:hover {
        color: white;
        background-color: rgba(121, 126, 243, 0.8)
    }
}

@media(max-width:710px) {
    main {
        width: calc(100% - 20px);
        margin-left: 10px;
    }
}

@media(max-width:500px) {
    footer {
        display: none;
    }

    .loginLogo {
        position: absolute;
        left: 25%;
        right: 25%;
        width: 50%;

        div {
            margin-left: 0;
        }
    }

    .loginHeaderRegister {
        position: absolute;
        bottom: 50px;
        right: 0;
        left: 0;
        margin-right: 0;
        font-size: 24px;

        .link {
            color: #797EF3;
            margin: 0;
            padding: 8px;
            cursor: pointer;
            font-weight: 580;
            border: 1px solid #999ce5;
            border-radius: 20px;

            &:hover {
                color: white;
                background-color: #999ce5;
            }
        }
    }
}

@media(max-width:430px) {
    .inputField {
        input {
            width: 70%;
            border-radius: 0 30px 30px 0;
            font-size: 15px;
        }
    }
}

@media(max-width:380px) {
    .button {
        width: 120px;
    }
}