<section>
  <div class="ch-creation">
    <span>Dein Profil bearbeiten</span>
    <img class="cursor-effect" (click)="onCloseUpdateProfil()" src="assets/img/icons/close.svg" alt="" />
  </div>
  <img class="user-profile-img" src="assets/img/profiles/Elise_Roth.svg" alt="" />

  <div class="single-user-info top-mg-1">
    <img class="mail" src="./../../../assets/img/icons/account_circle.svg" alt="" />
    <span class="address">Vollständiger Name</span>
  </div>
  <input type="text" placeholder="Frederik Beck" />
  <div class="single-user-info">
    <img class="mail" src="assets/img/icons/mail.svg" alt="" />
    <span class="address">E-Mail Adresse</span>
  </div>
  <input type="text" placeholder="beckmail.com" />
  <div class="btn-container">
    <button class="btn">Abbrechen</button>
    <button class="btn">Speichern</button>
  </div>
</section>
