section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  max-width: 360px;
  width: 90vw;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: white;
  position: absolute;
  top: 88px;
  right: 1rem;
  z-index: 999999;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  > input {
    height: 40px;
    border-radius: 60px;
    border: 1px solid #adb0d9;
    outline: none;
    font-family: 'Nunito';
    font-size: 16px;
    padding-left: 1rem;
    &::placeholder {
      font-family: 'Nunito';
      font-size: 16px;
    }
  }
  > .ch-creation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > span {
      font-weight: 700;
      font-size: 18px;
    }
    > span::first-letter {
      text-transform: capitalize;
    }
  }
  > .user-profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
  }
  .user-name-update {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > button {
      text-transform: capitalize;
      font-family: 'Nunito';
      font-size: 14px;
      font-weight: 700;
      background-color: transparent;
      border: transparent;
      color: #797ef3;
    }
    > span {
      text-transform: capitalize;
      font-weight: 700;
      font-size: 23px;
    }
  }
}

.close-btn {
  border-radius: 50%;
  &:hover {
    background-color: #eceefe;
  }
}

.capitalize {
  text-transform: capitalize;
}
.single-user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: capitalize;
  > .mail {
    width: 30px;
    height: 30px;
  }
  > span:not(.address) {
    color: #92c83e;
  }
  > .address {
    font-weight: 700;
  }
}
.top-mg-1 {
  margin-top: 1rem;
}
.mail-address {
  padding-left: 2.5rem;
}
.btn-container {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  > .btn {
    font-family: 'Nunito';
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    color: white;
    border-radius: 40px;
    border: transparent;
    text-transform: capitalize;
    margin: 0 auto;
    &:first-child {
      color: #444df2;
      background-color: white;
      border: 1px solid #797ef3;
      font-weight: 700;
      transition: all 250ms ease-in-out;
      &:hover {
        color: white;
        background-color: #444df2;
      }
    }
    &:nth-child(2) {
      color: white;
      background-color: #444df2;
      transition: all 250ms ease-in-out;
      &:hover {
        opacity: 0.75;
      }
    }
    > img {
      width: 24px;
      height: 24px;
    }
  }
}

.title-container {
  > span:first-child {
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
  }
}

@media screen and (width<630px) {
  section {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    border-top-right-radius: 30px;
    gap: 1.75rem !important;
  }
}
