<div *ngIf="message">
    <div class="message-container">
      <div class="img-container">
        <img [src]="avatar" [alt]="message.name">
      </div>
      <div class="message">
        <div class="name-time">
          <span class="name">{{ message.name }}</span>
          <span class="time">{{ formatTime(message.time) }}</span>
        </div>
        <div class="text">{{ message.content }}
          <ng-container *ngIf="fileURL">
            <a target="_blank" [href]="fileURL"><img *ngIf="fileType === 'image'" [src]="fileURL" alt="Image" class="uploaded-image" width="200px"></a>
            <a target="_blank" [href]="fileURL"><iframe *ngIf="fileType === 'pdf'" [src]="fileURL" class="pdf-viewer" width="200px" height="250px"></iframe></a>
            <a target="_blank" [href]="fileURL"><video *ngIf="fileType === 'video'" controls>
                <source [src]="fileURL" type="video/mp4">
                Your browser does not support the video tag.
              </video></a>
            <div *ngIf="fileType === 'unknown'">
              <a [href]="fileURL" target="_blank">Datei herunterladen: {{ message.fileName }}</a>
            </div>
          </ng-container>
        </div>
        <div class="answer" *ngIf="answerCount > 0" (click)="openThread(message.id)">
          <span class="counted-answers">{{ answerCount }} {{ answerCount === 1 ? 'Antwort' : 'Antworten' }}</span>
          <span class="time">Letzte Antwort {{ lastAnswerTime }}</span>
        </div>
        <div class="reaction-container" *ngIf="message.reactions?.length > 0">
          <div class="reaction" *ngFor="let reaction of message.reactions; let i = index">
            <img [src]="reaction.path">
            <span>{{ reaction.count }}</span>
            <div class="bubble">
              <img [src]="reaction.path">
              <h3>{{ reactionNames[i] }}</h3>
              <span>hat reagiert</span>
          </div>
          </div>
        </div>

      </div>
  
      <div class="reaction-bar">
        <mat-icon (click)="reactToMessage(message.id, 'check mark', '../../../assets/img/04_chats-message/emoji_white_heavy_check_mark_.png')"><img src="../../../assets/img/04_chats-message/emoji_white_heavy_check_mark_.png"></mat-icon>
        <mat-icon (click)="reactToMessage(message.id, 'raising hands', '../../../assets/img/04_chats-message/emoji_person_raising_both_hands_in_celebration_.png')"><img src="../../../assets/img/04_chats-message/emoji_person_raising_both_hands_in_celebration_.png"></mat-icon>
        <mat-icon *ngIf="allReactions" (click)="reactToMessage(message.id, 'nerd', '../../../assets/img/04_chats-message/emoji_nerd_face_.png')"><img src="../../../assets/img/04_chats-message/emoji_nerd_face_.png" class="reaction"></mat-icon>
        <mat-icon *ngIf="allReactions" (click)="reactToMessage(message.id, 'rocket', '../../../assets/img/04_chats-message/emoji_rocket_.png')"><img src="../../../assets/img/04_chats-message/emoji_rocket_.png" class="reaction"></mat-icon>
        <mat-icon (click)="openReactions()">add_reaction</mat-icon>
        <mat-icon (click)="openThread(message.id)">comment</mat-icon>
      </div>
    </div>
  </div>
  