input {
  font-family: 'Nunito';
  font-size: 14px;
  height: 50%;
  padding-inline: 1rem;
  outline: none;
  line-height: 1.2;
  border: none;
  border-radius: 20px;
}

mat-icon {
  cursor: pointer;
}

.delete-btn {
  width: 20px;
  height: 20px;
  font-size: 20px;
  padding: 10px;
  border-radius: 20px;
  transition: ease-in 80ms;

  &:hover {
    background-color: #eceefe;
    color: #535af1;
  }
}

// .img-design {
//   border: 10px solid white;
//   border-radius: 20px;
// }
.submitMessageBtn:hover {
  opacity: 0.8;
}

.input-wrapper {
  background-color: white;
  padding-inline: 1.5rem;
  margin-bottom: 1rem;
  z-index: 1;
  border-radius: 30px;

  > .input-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #adb0d9;
    border-radius: 20px;

    > .send-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 36px;

      padding-inline: 1rem;
      padding-bottom: 1rem;

      > .alternate-line {
        display: flex;
        align-items: center;
        gap: 1rem;
        height: 21px;
      }
    }
  }
}

.update-file-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.update-msg {
  display: flex;
  flex-direction: column;
  border: 1px solid #adb0d9;
  background-color: white;
  border-radius: 20px;
  padding-bottom: 1rem;
  padding-inline: 1rem;
}

textarea {
  flex: 1;
  border: none;
  resize: none;
  outline: none;
  scrollbar-width: none;
  background: transparent;
  padding: 1rem 1rem;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: 21px;
}

.uplodImageDirectMessages {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.single-reaction {
  position: absolute;
  border: 1px solid #adb0d9;
  width: 47px;
  height: 23px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}

input::placeholder {
  font-family: 'Nunito';
  font-size: 16px;
  text-transform: capitalize;
}

.message {
  position: relative;
  height: 100%;
}

button {
  background-color: transparent;
  border: transparent;
}

.sender {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.tag {
  color: #535af1;
  font-family: 'Nunito';
  font-size: 16px;
}

.input-form {
  height: 100%;
  width: 100%;
  position: relative;
}

.chat-content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.chat-container {
  display: flex;
  flex-direction: column-reverse;
  height: 395px;
  overflow-y: auto;
  padding-block: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border: transparent;
  scrollbar-width: none;

  > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.message {
  display: flex;
  flex-direction: column-reverse;
  height: 395px;
  padding-block: 10px;
  padding-inline: 1.5rem;
  border: transparent;
  flex: 1;
}

.chat-message {
  display: flex;
  gap: 1rem;
  margin-bottom: 5px;
  padding: 0px;
  border-radius: 5px;
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
  position: relative;
  transition: all 250ms ease-in-out;

  &:hover {
    background-color: #eceefe;

    > .name-date-line p {
      background-color: white;
    }

    > .name-date-line .response_msg p {
      background-color: white;
    }

    > .emoji-container div {
      display: flex;
    }
  }
}

.emoji {
  transform: translateY(-338px);
  height: 245px;
  border: 1px solid #adb0d9;
  border-radius: 10px;
}

.search {
  outline: none !important;
  border: 1px solid #adb0d9 !important;
}

.emoji-container {
  > div {
    position: absolute;
    background-color: white;
    left: 1.5rem;
    border: 1px solid #adb0d9;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    top: -15px;
    gap: 0.5rem;
    align-items: center;
    display: none;

    > img {
      cursor: pointer;
    }
  }
}

.align-box-right div {
  left: unset !important;
  right: 1.5rem;
  flex-direction: row-reverse;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: unset;
}

.img-group {
  position: relative;

  > button:not(.emoji-icon) {
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #eceefe;

      > img {
        filter: invert(33%) sepia(100%) saturate(2937%) hue-rotate(228deg) brightness(96%) contrast(96%);
      }
    }
  }
}

.btn-group {
  position: absolute;
  border: 1px solid #adb0d9;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  transform: translateX(122%);
  top: 1.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  justify-content: center;
  align-items: baseline;
  gap: 0.25rem;

  > .btn {
    font-family: 'Nunito';
    font-weight: 700;
    padding: 0.35rem 0.5rem;
    border-radius: 25px;
    border: transparent;
    transition: all 250ms ease-in-out;

    &:hover {
      background-color: #eceefe;
      color: #535af1;
    }
  }
}

.btn-container {
  align-self: end;
  display: flex;
  gap: 1rem;

  > .btn {
    font-family: 'Nunito';
    padding: 0.5rem 1rem;
    border-radius: 25px;
    border: transparent;
    transition: all 250ms ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }

  > .btn-white {
    background-color: white;
    color: #444df2;
    border: 1px solid #adb0d9;
    font-weight: 700;
  }

  > .btn-info {
    background-color: #444df2;
    color: white;
  }
}

.align-btn-right {
  flex-direction: column !important;
  border-top-left-radius: 30px;
  border-top-right-radius: unset !important;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px !important;
  transform: translateX(-104%) !important;
}

.update_msg {
  border: 1px solid #adb0d9;
  background-color: white;
  width: 100%;
  padding-inline: 1rem;
  border-radius: 20px;
  height: 105px;
}

.btn-line {
  display: flex;
  align-items: center;
  flex-direction: unset !important;
  justify-content: space-between;
}

.name-date-line {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;

  > div {
    display: flex;
    gap: 1rem;

    > span:first-child {
      text-transform: capitalize;
      font-weight: 700;
    }

    > span:nth-child(2) {
      color: #686868;
    }
  }

  > p {
    display: inline-block;
    background-color: #eceefe;
    padding: 0.75rem;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    cursor: default;
    align-self: flex-start;
  }
}

.align-right {
  justify-content: end;
  flex-direction: row-reverse;

  > .name-date-line {
    width: 100%;
    > p {
      border-top-left-radius: 30px;
      border-top-right-radius: unset;
      background-color: #797ef3 !important;
      color: white;
      cursor: default;
      align-self: end;
    }

    > div:not(.update-msg) {
      flex-direction: row-reverse;
    }
  }
}

.updated_msg {
  font-size: 14px;
}

.group-date {
  width: 100%;
  padding-block: 0.5rem;
  margin-block: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  > span,
  .line {
    position: absolute;
  }

  > span {
    margin: 0 auto;
    padding: 5px 15px;
    border: 1px solid #adb0d9;
    text-transform: capitalize;
    border-radius: 30px;
    z-index: 1;
    background-color: white;
  }

  > .line {
    width: 100%;
    border: 1px solid #adb0d9;
  }
}

.sep-line {
  border: 1px solid #adb0d9;
  height: 100%;
}

.icons {
  width: 20px;
  height: 20px;
  object-fit: cover;
  cursor: pointer;
}

.icons-send {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.sentiment_satisfied-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: transparent;

  &:hover {
    background-color: #eceefe;

    > img {
      filter: invert(33%) sepia(100%) saturate(2937%) hue-rotate(228deg) brightness(96%) contrast(96%);
    }
  }
}

.current-nav-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.08);
  padding-inline: 1.5rem;
  padding-block: 1rem;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  gap: 1rem;
  height: 40px;
  margin-bottom: auto;

  > span {
    text-transform: capitalize;
    font-weight: 700;
  }

  > button {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;

    > .online-marker {
      height: 10px;
      width: 10px;
      background-color: #92c83e;
      position: absolute;
      bottom: -5px;
      right: -9px;
      border-radius: 50%;
      border: 2px solid #eceefe;
    }
  }
}

.user-ref {
  display: flex;
  padding-bottom: 0.5rem;
  gap: 1rem;

  > .username {
    font-weight: 700;
    align-self: flex-end;
  }
}

.text-capitalize {
  text-transform: capitalize;
}

.self-room {
  color: #686868;
  font-size: 14px;
  margin-bottom: 1rem;

  > span {
    font-weight: 700;
  }
}

.response_msg {
  display: flex;
  align-items: center;
  gap: 0.4rem !important;
  margin-bottom: 0.5rem;

  > p {
    background-color: #eceefe;
    padding: 0.75rem;
    padding-inline: 0.75rem;
    padding-block: 0.1rem;
    border: 1px solid #adb0d9;
    font-weight: 200;

    &:not(.response-p) {
      border-bottom-right-radius: 30px;
      border-top-left-radius: 30px;
    }
  }

  > .response-p {
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}

.origin_msg {
  font-weight: 700;
}

.sender-origin {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50%;
}

.offset {
  height: 26.4px;
  margin-bottom: 0.5rem;
}

.conversation-start {
  margin-bottom: 1rem;
}

@media (width<630px) {
  .message,
  .input-wrapper,
  .chat-message {
    padding-inline: unset;
  }

  .chat-content {
    padding-inline: 1.5rem;
  }

  .chat-container {
    flex: 1;
  }

  .current-nav-user {
    padding-inline: unset;
    border-left: unset;
    border-right: unset;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    margin-inline: -1.5rem;
    padding-inline: 1rem;
  }
}
