@if(mailSent){
<section class="whiteScreen">
    <div class="userMessage">
        E-Mail gesendet
    </div>
</section>
}

<div class="header-container">
    <img src="./assets/img/01_onboarding-login-signup/Logo.png" class="logo">
    <div class="name">
        DaBubble
    </div>
</div>

<section>
    <mat-card>
        <mat-card-title>
            <img class="arrowBack" src="./assets/img/01_onboarding-login-signup/arrow_back.png" [routerLink]="['/']">
            <div class="title">
                Passwort zurücksetzen
            </div>
        </mat-card-title>
        <div class="subTitle">
            Bitte geben Sie Ihre E-Mail-Adresse ein.
        </div>
        <form class="form" (ngSubmit)="onSubmit(data)" #data="ngForm">
            <mat-card-content>
                <div class="inputField">
                    <mat-icon>mail</mat-icon>
                    <input name="email" type="email" placeholder="beispielname@email.com" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" ngModel #email="ngModel"  [(ngModel)]="mail">
                </div>
                <div class="error">
                    <div *ngIf="email.invalid && email.touched">*Diese E-Mail-Adresse ist leider ungültig.</div>
                    <div *ngIf="wrongMail">*Diese E-Mail-Adresse existiert nicht.</div>
                </div>
            </mat-card-content>


            <div class="description">
                Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
            </div>

            <div class="buttonContainer">
                <button type="submit" class="button" [ngClass]="{'btnActiv': data.valid}">E-Mail senden</button>
            </div>
        </form>
    </mat-card>
</section>

<app-footer></app-footer>