<header>
  <nav>
    <img src="assets/img/icons/logo.svg" alt="Logo" />
    <div class="current-user">
      <span class="to_upper">{{ authenticatedUser?.name }}</span>
      <app-profile class="app-profile" [left_side_profile]="false" *ngIf="authenticatedUser?.image_file" [image_user]="authenticatedUser?.image_file" />
      <button class="btn-arrow" (click)="onOpenLogOut()">
        <img class="arrow-down" src="assets/img/icons/keyboard_arrow_down.svg" alt="" />
      </button>
    </div>
  </nav>
  <div class="input-search">
    <input [(ngModel)]="search_input" (input)="onSearchInDevspace(); sendSearchInput(search_input)" type="text" name="search-field" placeholder="Devspace durchsuchen" />
    <img src="assets/img/icons/search.svg" alt="" />
  </div>
  <app-search-devspace *ngIf="showSearchUserName === true" />
</header>
