header {
  width: 100%;
  position: relative;

  > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
    padding-inline: 1rem;
    padding-block: 1rem;
    background-color: #eceefe;

    > img {
      width: 18vw;
      max-width: 243px;
      min-width: 130px;
    }

    > .current-user {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      > span {
        font-family: 'Nunito';
        font-weight: 700;
        font-size: 20px;
        padding-right: 0.5rem;
      }

      > img {
        cursor: pointer;
        object-fit: cover;
      }
    }
  }
}

.dMobile {
  display: none;
}

.return {
  display: none;
  align-items: center;
  gap: 0.25rem;

  > button {
    background-color: transparent;
    border: transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;

    > .to_channel_arrow {
      width: 50px;
      height: 50px;
    }
  }
}

.btn-arrow {
  background-color: transparent;
  border: transparent;
}

.app-profile {
  height: 55px;
  aspect-ratio: 1 / 1;
}

.to_upper {
  text-transform: capitalize;
}

.input-search {
  display: flex;
  align-items: center;
  position: relative;
  padding-inline: 1rem;
  max-width: 989px;
  width: 55vw;
  height: 50px;
  padding-block: 5px;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  padding-block: 8px;

  > img {
    position: absolute;
    right: 2.5rem;
    width: 28px;
    height: 28px;
  }

  > input {
    width: 100%;
    height: 100%;
    border-radius: 70px;
    outline: none;
    border: none;
    margin-left: 57px;
    padding-left: 1.5rem;
    font-family: 'Nunito';
    font-size: 16px;

    &::placeholder {
      font-family: 'Nunito';
      font-size: 17px;
    }
  }
}

.d-none {
  display: none;
}

@media (width<1200px) {
  .input-search {
    width: 50vw;
  }
}

@media (width<1075px) {
  .input-search {
    width: 45vw;
  }
}

@media (width<990px) {
  .input-search {
    width: 40vw;
    transform: translateX(-60%);

    > img {
      width: 25px;
    }

    > input {
      &::placeholder {
        font-size: 16px;
      }
    }
  }

  header {
    > nav {
      > .current-user {
        > span {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (width<800px) {
  .input-search {
    > input {
      margin-left: unset !important;
    }
  }
}

@media screen and (width<770px) {
  .input-search {
    width: 35vw;
  }
}
@media screen and (width<715px) {
  .input-search {
    left: 46%;

    > input {
      &::placeholder {
        font-size: 13px;
      }
    }
  }
}

@media (width<630px) {
  .closeHeader {
    display: none;
  }
  .dDestop {
    display: none;
  }

  .dMobile {
    display: inline;
  }

  .d-flex {
    display: flex !important;
    margin-left: -1rem;
  }

  .ShowLogo {
    display: none !important;
  }

  header {
    background: white;
    position: unset;
  }

  .current-user {
    > span,
    > .arrow-down {
      display: none;
    }
  }

  .input-search {
    height: 48px;
    margin: 0rem auto;
    margin-top: 1rem;
    position: unset;
    width: unset;
    top: unset;
    left: unset;
    transform: unset;

    > input {
      border: 1px solid #adb0d9;
      margin-left: 0.5rem;

      &::placeholder {
        font-size: 17px;
      }
    }
  }

  .btn-arrow {
    display: none;
  }
}
