<div class="container">
  <textarea 
    #inputBox
    placeholder="Antworten ..." 
    cols="30" rows="3"
    (keyup.enter)="send(inputBox.value)"> <!-- send-Methode aufrufen, wenn Enter gedrückt wird -->
  </textarea>

  <div class="bottom">
    <div>
      <mat-icon>add</mat-icon>
      <span></span>
      <mat-icon>sentiment_satisfied</mat-icon>
      <mat-icon>alternate_email</mat-icon>
    </div>
    <!-- Icon für Senden, ruft sendMessage() auf -->
    <mat-icon (click)="send(inputBox.value)">send</mat-icon>
  </div>
</div>
