<section>
  <div class="ch-creation">
    <span>profil</span>
    <img class="cursor-effect" (click)="onCloseShowProfil()" src="assets/img/icons/close.svg" alt="" />
  </div>
  <img class="user-profile-img" src="assets/img/profiles/Elise_Roth.svg" alt="" />
  <div class="user-name-update">
    <span>Frederik Beck</span>
    <button (click)="onOpenUpdateProfil()">bearbeiten</button>
  </div>
  <div class="single-user-info">
    <img class="online" src="assets/img/icons/Online.svg" alt="" />
    <span>activ</span>
  </div>
  <div class="single-user-info">
    <img class="mail" src="assets/img/icons/mail.svg" alt="" />
    <span class="address">E-Mail Adresse</span>
  </div>
  <span class="mail-address">beckmail.com</span>
  <div class="btn-container">
    <button class="btn">
      <img src="assets/img/icons/mode_comment.svg" alt="" />
      <span>Nachrichten</span>
    </button>
  </div>
</section>
