<div *ngIf="thread">
  <div class="message-container">
    <div class="img-container">
      <img [src]="avatar">
    </div>
    <div class="message">
      <div class="name-time">
        <div class="edit-bubble">
          <button (click)="showEmojiPicker()" *ngIf="showReactionIcon"><mat-icon >add_reaction</mat-icon></button>
        </div>
        <span class="name">{{ thread.name }}</span>
        <span class="time">{{ formatTime(thread.time) }}</span>
      </div>
      <div class="text">{{ thread.content }}
        <ng-container *ngIf="fileURL">
          <a target="_blank" [href]="fileURL"><img *ngIf="fileType === 'image'" [src]="fileURL" alt="Image" class="uploaded-image" width="200px"></a>
          <a target="_blank" [href]="fileURL"><iframe *ngIf="fileType === 'pdf'" [src]="fileURL" class="pdf-viewer" width="200px" height="250px"></iframe></a>
          <a target="_blank" [href]="fileURL">
            <video *ngIf="fileType === 'video'" controls>
              <source [src]="fileURL" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </a>
          <div *ngIf="fileType === 'unknown'">
            <a [href]="fileURL" target="_blank">Datei herunterladen: {{ fileName }}</a>
          </div>
        </ng-container>
      </div>
      <div class="reaction-container">
        <button [disabled]="!showReactionIcon" class="reaction" *ngFor="let reaction of thread.reactions let i = index" (click)="reactToThreadMessage(thread.id, reaction.emoji)">
          <span>{{ reaction.emoji }}</span>
          <span>{{ reaction.count }}</span>
          <div class="bubble">
            <span>{{ reaction.emoji }}</span>
            <h3>{{ reactionNames[i] }}</h3>
            <span>hat reagiert</span>
        </div>
      </button>

        <app-emoji-picker *ngIf="toggleEmojiPicker" (click)="$event.stopPropagation()" #emojiPicker ></app-emoji-picker>

        <div class="chose-reaction" *ngIf="showReactions" #reactionContainer>
        </div>
      </div>
    </div>
  </div>
</div>


