<header>
  <nav>
    <img src="assets/img/icons/logo.svg" alt="Logo" />
    <div class="current-user">
      <span>Frederik Beck</span>
      <img class="profile" src="assets/img/profiles/Elise_Roth.svg" alt="" />
      <img class="arrow-down" src="assets/img/icons/keyboard_arrow_down.svg" alt="" />
    </div>
  </nav>
  <div class="input-search">
    <input type="text" name="search-field" placeholder="Devspace durchsuchen" />
    <img src="assets/img/icons/search.svg" alt="" />
  </div>
</header>
