.header-container {
    position: absolute;
    top: 90px;
    left: 90px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 24px;
    font-weight: 700;
    transform: scale(1.2);


    .name {
        transform: scale(1.2);
        margin-left: 20px;
        font-family: nunito, sans-serif;
    }

    &:hover {
        cursor: default;
    }

    img {
        width: auto;
        height: 70px;
    }
}

section {
    display: flex;
    justify-content: center;
    // align-items: center;
    margin-top: 250px;
    // height: 100%;

    mat-card {
        background-color: white;
        // height: 590px;
        width: auto;
        border-radius: 30px;
        padding: 48px 56px;

        mat-card-content {
            width: 100%;
        }
    }
}

.title {
    color: #444DF2;
    font-family: nunito, sans-serif;
    font-weight: 700;
    font-size: 46px;
    margin-bottom: 30px;
}

.Subtitle {
    margin-top: 60px;
    margin-bottom: 40px;
    color: #444DF2;
    font-family: nunito, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 38, 4;
}

.list {
    list-style: none;
    margin-bottom: 40px;

    li {
        margin-bottom: 5px;
    }
}

.textStyle {
    font-family: nunito, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.titleContainer {
    margin-bottom: 30px;
}

.arrowBack {
    &:hover {
        cursor: pointer;
        filter: drop-shadow(2px 2px 1px gray);
    }
}

@media(max-width:400px) {
    section {
        mat-card {
            padding: 10px;

            mat-card-content {
                padding: 10px;
            }
        }
    }
}

@media(max-height:880px) {
    .header-container {
        top: 15px;
    }

    section {
        margin-top: 100px;
    }
}

@media(max-height:725px) {
    .header-container {
        transform: scale(0.9);
    }

    section {
        transform: scale(0.9);
        margin-top: 80px;
    }
}

@media(max-height:725px) {
    section {
        transform: scale(0.8);
        margin-top: 60px;
    }
}