<div class="header-container">
    <img src="./assets/img/01_onboarding-login-signup/Logo.png" class="logo">
    <div class="name">
        DaBubble
    </div>
</div>
<section>
    <mat-card class="card">
        <div class="titleContainer">
            <img class="arrowBack" src="./assets/img/01_onboarding-login-signup/arrow_back.png"
                [routerLink]="['/']">
        </div>
        <mat-card-content>
            <mat-card-title class="title">Impressum</mat-card-title>
            <ul class="list textStyle">
                <li>Ibrahima Sourabie</li>
                <li>Patrick Nigrin</li>
                <li>Julien Quabeck</li>
            </ul>
            <div class="textStyle">
                Schwalbenweg 2
            </div>
            <div class="textStyle">
                58256 Ennepetal
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="Subtitle">
                Contact:
            </div>
            <div class="textStyle">
                Email: 
                <li>contact&commat;ibrahima-sourabie.com</li>
                <li>mail&commat;patrick-nigrin.de</li>
                <li>contact&commat;julien-quabeck.de</li>
                
            </div>
        </mat-card-content>
      </mat-card>
</section>