<h2>
    <div>
      <mat-icon>tag</mat-icon> {{ name }}
    </div>
    <mat-icon (click)="closeDialog()" class="close">close</mat-icon>
  </h2>
  
  <mat-dialog-content>
    <div *ngIf="selectedChannelId">
      <div class="channel" [ngClass]="{ 'none-border': channelNameEdit }">
        <div class="channel-headline">
          <span>Channel-Name</span>
          <span class="edit" (click)="editChannelName()">
            {{ channelNameEdit ? 'Speichern' : 'Bearbeiten' }}
          </span>
        </div>
        <div [ngClass]="{ 'editing-border': channelNameEdit }">
          <mat-icon>tag</mat-icon>
          <span *ngIf="!channelNameEdit">{{ name }}</span>
          <input *ngIf="channelNameEdit" type="text" [(ngModel)]="name">
        </div>
      </div>
  
      <div class="description channel" [ngClass]="{ 'none-border': channelDescEdit }">
        <div class="channel-headline">
          <span>Beschreibung</span>
          <span class="edit" (click)="editChannelDescription()">
            {{ channelDescEdit ? 'Speichern' : 'Bearbeiten' }}
          </span>
        </div>
        <span *ngIf="!channelDescEdit">{{ description }}</span>
        <input class="editing-border" *ngIf="channelDescEdit" type="text" [(ngModel)]="description">
        <div class="admin">
          <span>Erstellt von</span>
          <span class="name">{{ admin }}</span>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <button (click)="leaveChannel()">Channel verlassen</button>
  </mat-dialog-actions>
  