<app-wrapper>
  <div class="section-header">
    <div>
      <img src="assets/img/icons/workspace-logo.svg" alt="" />
      <span class="main-title">Devspace</span>
    </div>
    <button class="closeDialDev">
      <img class="edit-square" src="assets/img/icons/edit_square.svg" alt="" />
    </button>
  </div>
  <!--  -->
  <div class="sub-section">
    <div class="channel-section-header cursor-effect d-flex">
      <button (click)="onExpand()" class="closeDialBtn">
        <img [class.rotateArrowExpand]="expand == true" src="assets/img/icons/arrow_drop_down.svg" alt="" />
      </button>
      <div class="icon-group d-flex space-btn">
        <div (click)="onExpand()" class="gp capitilize d-flex">
          <img src="assets/img/icons/workspaces.svg" alt="" />
          <span class="title">channels</span>
        </div>
        <button class="closeDial">
          <img (click)="onOpen()" src="assets/img/icons/add.svg" alt="" />
        </button>
      </div>
    </div>
    <!--  -->
    <div class="fold" [class.fold_in_channel]="expand == true">
      <ul class="list-channel">
        <li
          *ngFor="let channel of channels$ | async; let i = index"
          [class.activeChannel]="selectedChannelIndex == i"
          (click)="selectChannel(i); loadChannelMembers(channel.channel_id); sendChannel(channel); showChannelMessages(true); loadChannelMessages(channel.channel_id)"
          class="d-flex gp l-mg-2"
        >
          <img class="icon-small" src="assets/img/icons/hash_tag.svg" alt="" />
          <span class="capitilize">{{ channel.channel_name }} </span>
        </li>
      </ul>
      <div class="add-channel gp d-flex l-mg-2 cursor-effect" (click)="onOpen()">
        <img class="icon-small cursor-effect" src="assets/img/icons/add_circle.svg" alt="" />
        <span class="capitilize">channel hinzufügen</span>
      </div>
    </div>
  </div>
  <div class="sub-section direct-messages">
    <div (click)="onCollapse()" class="message-section-header cursor-effect d-flex">
      <button class="closeDialBtn">
        <img [class.rotateArrow]="collapse == true" src="assets/img/icons/arrow_drop_down.svg" alt="" />
      </button>
      <div class="icon-group d-flex space-btn">
        <div class="gp capitilize d-flex">
          <img src="assets/img/icons/account_circle.svg" alt="" />
          <span class="title">direktnachrichten</span>
        </div>
      </div>
    </div>
    <ul [class.fold_in]="collapse == true" class="users">
      <li
        [class.active]="selectedIndex == 0"
        (click)="
          selectUser(0);
          sendSelectedUser(authenticatedUser!);
          showChannelMessages(false);
          sendUserId(authenticatedUser?.user_id!);
          loadMessages(authenticatedUser?.user_id!, authenticatedUser?.user_id!)
        "
        class="d-flex capitilize gp l-mg-2"
      >
        <app-profile class="app-profile" [left_side_profile]="true" [image_user]="authenticatedUser?.image_file" />
        <span> {{ authenticatedUser?.first_name }} <span> </span>{{ authenticatedUser?.last_name }}</span>
        <span *ngIf="authenticatedUser?.online === true">(Du)</span>
      </li>
      <ng-container *ngFor="let user of users$ | async; let i = index">
        <li
          *ngIf="user.user_id !== authenticatedUser?.user_id"
          [class.active]="selectedIndex == i + 1"
          (click)="selectUser(i + 1); sendSelectedUser(user); showChannelMessages(false); sendUserId(user.user_id); loadMessages(onlineUsers[0]?.user_id, user.user_id)"
          class="d-flex capitilize gp l-mg-2"
        >
          <app-profile class="app-profile" [left_side_profile]="true" [image_user]="user.image_file" />
          <span> {{ user.first_name }} <span> </span>{{ user.last_name }}</span>
          <span *ngIf="user.online === true">(Du)</span>
        </li>
      </ng-container>
    </ul>
  </div>
</app-wrapper>
