.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    > img {
      width: 40px;
      object-fit: cover;
    }
  }
}

.sub-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 65%;
  overflow-y: auto;
}

.capitilize {
  text-transform: capitalize;
}

.title {
  font-weight: 700;
  font-size: 16px;
}

.main-title {
  font-weight: 700;
  font-size: 20px;
}

.list-channel {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-height: 117px;
  gap: 5px;
  margin-bottom: 4px;

  > li {
    margin-left: 1.5rem;

    &:hover img {
      filter: invert(33%) sepia(100%) saturate(2937%) hue-rotate(228deg) brightness(96%) contrast(96%);
    }
  }
}

.add-channel {
  padding-bottom: 1rem !important;
  padding-inline: 1rem;

  &:hover span {
    color: #535af1;
  }

  &:hover img {
    filter: invert(33%) sepia(100%) saturate(2937%) hue-rotate(228deg) brightness(96%) contrast(96%);
  }
}

.message-section-header {
  &:hover button img {
    filter: invert(33%) sepia(100%) saturate(2937%) hue-rotate(228deg) brightness(96%) contrast(96%);
  }

  &:hover .icon-group .capitilize {
    > img {
      filter: invert(33%) sepia(100%) saturate(2937%) hue-rotate(228deg) brightness(96%) contrast(96%);
    }

    > span {
      color: #535af1;
    }
  }
}

.gp {
  gap: 1rem;
}

.icon-group {
  flex: 1;
}

.d-flex {
  display: flex;
  align-items: center;
}

.space-btn {
  justify-content: space-between;
}

.l-mg-2 {
  margin-left: 1rem;
  padding-block: 4px;
}

.l-mg-7 {
  padding-block: 7px;
}

.users {
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  transition: all 250ms ease-in-out;
  margin-bottom: 2rem;
}

.icon-small {
  width: 18px;
  height: 18px;
}

.fold_in_channel {
  max-height: 0 !important;
}

.fold_in {
  height: 0 !important;
}

.fold {
  max-height: 150px;
  overflow-y: auto;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  transition: all 250ms ease-in-out;
}

.rotateArrow,
.rotateArrowExpand {
  transform: rotate(-90deg);
}

li {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-inline: 0.5rem;
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
  &:hover {
    background-color: #eceefe;
  }
}

.active {
  background-color: #eceefe;
  color: #535af1;
  font-weight: 700;
}

.activeChannel {
  background-color: #eceefe;
  color: #535af1;
  font-weight: 700;

  > img {
    filter: invert(33%) sepia(100%) saturate(2937%) hue-rotate(228deg) brightness(96%) contrast(96%);
  }
}

.app-profile {
  width: 35px;
  height: 35px;
}

.closeDial {
  background-color: transparent;
  border: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #eceefe;
  }
}

.closeDialBtn {
  background-color: transparent;
  border: transparent;
  width: 30px;
  height: 30px;
}
.channel-section-header {
  padding-top: 1rem;
}
.closeDialDev {
  background-color: transparent;
  border: transparent;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #eceefe;
  }
}
.section-content {
  height: 100%;
}

.edit-square {
  width: 32px;
  height: 32px;
}

.channel-name,
.user-name {
  font-size: 18px !important;
}

.sub-sec-1 {
  height: 35%;
}

@media (width<630px) {
  .users,
  .list-channel {
    gap: 13px;
  }

  .channel-section-header {
    // padding-top: 2rem;
    padding-inline: 1rem;
  }
  .message-section-header {
    padding-inline: 1rem;
  }

  .section-header {
    display: none;
  }

  .title {
    font-size: 20px;
  }

  .l-mg-2 {
    padding-block: 7px;
  }
}
